body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}


.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.options {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 10px 0;
}

.options label {
    margin-bottom: 5px;
}

#generate {
    margin-bottom: 10px;
}

#password {
    display: block;
    margin-top: 10px;
}